spring:
  datasource:
    url: jdbc:mysql://localhost:3306/ecobazaar?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: root        # Change to your MySQL username
    password: root        # Change to your MySQL password
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

server:
  port: 8080

jwt:
  secret: EcoBazaar2024SecureJWTSecretKeyForHMACSHA512AlgorithmMinimum256Bits
  expiration: 86400000   # 24 hours (in milliseconds)

logging:
  level:
    org.springframework: INFO
    com.ecobazaar: DEBUG
